$maastricht-blue: #011627;
$tractor-red: #f71735;
$turquoise: #41ead4;
$baby-powder: #fdfffc;
$crayola: #ff9f1c;

body {
    font-size: 2rem;
    font-family: 'Noto Sans', sans-serif;

    h1, h2, h3, h4, h5, h6 {font-family: 'Oswald', sans-serif;}
    h1 {font-size: 5rem;}
    h2 {font-size: 4rem;}
    h3 {font-size: 3rem;}
    h4 {font-size: 2.75rem;}
    h5 {font-size: 2.5rem;}
    h6 {font-size: 2.25rem;}
}
span {color: $crayola}
header, section {
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: $maastricht-blue;
    color: $baby-powder;
}
header {
    .yanjen{fill:#F71735;stroke:#F71735;stroke-miterlimit:10;stroke-dasharray:1200 1000;stroke-width:0;}
    .chen{fill:#41EAD4;stroke:#41EAD4;stroke-miterlimit:10;stroke-dasharray:1200 1000;stroke-width:0;}
    #logo {
        path {
            transition: 1s;
            animation: logo 3s linear 1;
            animation-play-state: running;
        }
        &:hover path {
            stroke-width: 1pt;
            stroke-dashoffset: 0;
            fill-opacity: 0;
            animation-play-state: paused;
        }
    }
    h1 {
        font-size: 2.5rem;
        font-family: 'Caveat', cursive;
    }
    @keyframes logo {
        0% {
            stroke-width: 1pt;
            stroke-dashoffset: 1200;
            fill-opacity: 0;
        }
        50% {
            fill-opacity: 0;
        }
        100% {
            stroke-dashoffset: 0;
            fill-opacity: 1;
            stroke-width: 0pt;
        }
    }
}
.skills-wrapper {
    .chart {
        position: relative;
        margin: 0;

        img {
            position: absolute;
            max-width: 100px;
            max-height: 100px;
            left: 50%; top: 50%;
            transform: translate(-50%, -50%);
        }
        .html5 + svg .outer {stroke: #FC490B;}
        .css3 + svg .outer {stroke: #2196F3;}
        .javascript + svg .outer {stroke: #E4BA42;}
        .php + svg .outer {stroke: #8F9ED1;}
        .shadow {
            fill: $baby-powder;
            stroke: lightgrey;
            stroke-width: 15;
        }
        .outer {
            fill: transparent;
            stroke-width: 15;
            stroke-dasharray: 2*90*3.14;
            transition: stroke-dashoffset 1s;
            animation-play-state: running;
        }

        &:hover .outer {
            stroke-dashoffset: 2*90*3.14 !important;
            animation-play-state: paused;
        }
        &[data-percent='100'] .outer {
            stroke-dashoffset: 0;
            animation: show100 2s;
        }
        &[data-percent='75'] .outer {
            stroke-dashoffset: 2*90*3.14*0.25;
            animation: show75 2s;
        }
        &[data-percent='50'] .outer {
            stroke-dashoffset: 2*90*3.14*0.5;
            animation: show50 2s;
        }
        &[data-percent='25'] .outer {
            stroke-dashoffset: 2*90*3.14*0.75;
            animation: show25 2s;
        }
        @keyframes show100 {
            0% {stroke-dashoffset: 2*90*3.14;}
            100% {stroke-dashoffset: 0;}
        }
        @keyframes show75 {
            0% {stroke-dashoffset: 2*90*3.14;}
            100% {stroke-dashoffset: 2*90*3.14*0.25;}
        }
        @keyframes show50 {
            0% {stroke-dashoffset: 2*90*3.14;}
            100% {stroke-dashoffset: 2*90*3.14*0.5;}
        }
        @keyframes show25 {
            0% {stroke-dashoffset: 2*90*3.14;}
            100% {stroke-dashoffset: 2*90*3.14*0.75;}
        }
    }
}
.interest-wrapper {
    .interest-collection-wrapper {
        overflow: hidden;
        border: 10px solid $baby-powder;
    }
    .interest-collection {
        display: flex;

        img {
            margin: 15px 50px;
            display: inline-block;
            max-width: 100px;
            max-height: 100px;
        }
    }
}
