header {
    max-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-family: 'Permanent Marker', cursive;
}
